MONGODB_URI=mongodb+srv://Admin:PASSWORD@cluster0.hzd6vn2.mongodb.net/?appName=Cluster0
GMAIL_USER=noah.jeedbaleswaran@gmail.com
GMAIL_PASSWORD=bwos ftgw wphz eiea
JWT_SECRET=your_jwt_secret_key_here_change_this
PORT=5000
NODE_ENV=production
FRONTEND_URL=https://Vanechka-1.github.io/product-expiry-tracker
